$muted-grey: #999;
$purple: #8300ff;
$white: #fff;

$base-shadow: rgba(0, 0, 0, 0.12);
$purple-shadow-from: rgba(131, 0, 255, 0.42);
$purple-shadow-to: rgba(131, 0, 255, 0.2);
$purple-box-shadow: 0 14px 26px -12px $purple-shadow-from, 0 4px 23px 0px $base-shadow,
  0 8px 10px -5px $purple-shadow-to;

.button-wrapper {
  padding: 10px 0;
  .ninja-button {
    padding: 15px 50px;
    text-transform: uppercase;
    background: $purple;
    border: 2px solid $purple;
    color: $white;
    font-weight: 600;
    font-size: 0.75rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s;
    margin-top: 0.5em;
    outline-style: none;
    p {
      margin: 0;
      font-size: 1.5em;
    }
    &:hover {
      opacity: 0.8;
      box-shadow: $purple-box-shadow;
    }
  }
}

.cart {
  width: 80%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;

  padding-left: 10%;
  padding-right: 10%;

  list-style: none;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  flex-direction: column;

  margin-bottom: 2em;
}

#cart-title {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}

.cart-content {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cart-products-and-total {
  padding: 0;
  margin: 0;
  width: inherit;
  /*display: flex;*/
  /*flex-direction: column;*/
}

.cart-items {
  min-width: 500px;
  width: 960px;
  height: 100%;
  background-color: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  order: 1;
  min-height: 250px;
}

.cart-total {
  margin-left: 1.5em;
  background-color: white;
  min-width: 25%;
  /*min-height: 300px;*/
  height: 275px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  order: 2;
}

#cart-total-title {
  font-size: 1.25em;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 3px;
  text-align: center;

  border-bottom: 1px solid #eee;
  padding-bottom: 1.25em;
  margin-bottom: 1.25em;
}

#cart-subtitle {
  font-style: normal;
  font-weight: 700;
  padding-left: 10%;
  letter-spacing: 1px;
}

#button-wrapper {
  text-align: center;
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .cart-content {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .cart-total {
    order: 1;
  }
  .cart-items {
    margin-top: 1.5em !important;
    order: 2;
  }

  .cart-total,
  .cart-items {
    margin: 0;
    width: 100% !important;
    min-width: 100% !important;
    padding: 0 !important;
  }
}

#empty-cart {
  font-size: 3em;
  text-align: center;
  letter-spacing: 2px;
  padding: 2em 0 2em 0;
}
