.product-filters {
    width: 90%;
    height: 85px;
    margin: 2em;
    color: black;
    background-color: whitesmoke;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.2), 0 2px 5px 0 rgba(0,0,0,0.19);
    display: flex;
}

#filters-subtitle {
    font-weight: 400;
    letter-spacing: 2px;
    word-wrap: break-word;
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    margin: 0.2em 0 0 0;
}

#filters-main-title {
    border-bottom: 2px solid #EEE;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-wrap: break-word;
    margin: 1em 0.25em;
    text-align: center;
    width: 75px;

    /* Flipping it */
    -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
    -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
    -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
}

@media only screen and (max-width: 768px) {
    .product-filters {
        width: 100%;
        min-width: 350px;
        margin: 1.5em 0;
    }

    #filter-wrapper {
        min-width: 33.33% !important;
        max-width: 33.33% !important;
    }

    #filter-wrapper div {
        width: 75px;
        max-width: 33vw;
    }

    #filter-wrapper svg {
        visibility: hidden;
    }

    #filters-main-title {
        visibility: hidden;
        height: 0;
        width: 0;
        margin: 0 !important;
        padding: 0 !important;
    }

    #filters-subtitle {
        letter-spacing: normal;
        font-size: 1em;
        font-weight: 600 !important;
        margin: 0.25em 0 0 0;
        padding: 0;
    }
}

#filter-wrapper {
    display: block;
    min-width: 175px;
    max-width: 175px;
    border-right: 2px solid #EEE;
}