.item {
    padding: 1%;
}

.item-title {
    font-weight: 600;
    font-size: 1em;
    padding-right: 10px;
    word-wrap: break-word;
}

.item-price {
    font-weight: 400;
    margin-top: 0;
}

.item img {
    max-width: 200px;
    max-height: 200px;
}

#add-to-cart {
    word-wrap: break-word;
    margin-bottom: 1em;
}
